header
  container.nav.justify-content-center#navmenu
        li.nav-item.btn.btn-light
          h5
            a.nav-link(href='/trucklist') TRUCK LIST
        li.nav-item.btn.btn-light
          h5
            a.nav-link(href='#') BOOK THE TRUCK
        li.nav-item
          h5.navlogo.btn.btn-light
            img(src="../images/atm3.png", alt="")
        li.nav-item.btn.btn-light
          h5
            a.nav-link(href='location') LOCATION
        li.nav-item.btn.btn-light
          h5
            a.nav-link(href='#') REGISTER U'R TRUCK
