.container.briefinfo
  .row
    .col
      p <b> This website is just a school project just for learning about NodeJS and as well as about Food Trucks in Calgary, Alberta. It is just a replica of YYCFoodTruck.ca</b> <br> Functionality of this site for now will be to list all possible FoodTrucks in Calgary, Truckers can register their trucks on this site and any foodie can submit a request to book the Truck for backyard party. This site is not create by any proffesional web developer but, if you find any glitch or bugs on this site please got to feedback link to send me details. 
    .col.col2
      p You can browse this site and find your Favorite Truck.