.container.thumbs
    .row
      .col
        img(src="../images/logo/greek-logo.jpg", alt="")
      .col
        img(src="../images/logo/curryer-logo.jpg", alt="")
      .col
        img(src="../images/logo/happypanda-logo.jpg", alt="")
    .row
      .col
        img(src="../images/logo/happytruck-logo.jpg", alt="")
      .col
        img(src="../images/logo/mumbai-logo.jpg", alt="")
      .col
        img(src="../images/logo/taikotaco-logo.png", alt="")