extends layout

block content
  .container
    #map
      

script(src="../routes/googlemap.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfbkkygzoLJPPf0nLqIvsA4lrNdxykdpY&callback=initialize") 
