doctype html
html
  include includes/head
  body
    include includes/header
    include includes/carousel

    block content

    include includes/landingpage.pug
    include includes/thumbs

    //include includes/footer
    include includes/foot