@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";

body 
  margin-bottom: 60px;

.footer
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;

.carouselsize
  max-height: 500px; 
  max-width: 1600px;
  background-color: pink;
  overflow: hidden;

#navmenu
  padding: 60px;
  background-color: lightpink;

.nav-link
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;